<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= Pokemon.name %></title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|VT323" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <h1> <%= Pokemon.name %> </h1><br>
   <p>
   Array Index of <%= Index %><br>
    <img class = "show-img" src= "<%= Pokemon.img %>"><br>
    <form action="/pokemon">
        <input class ="button" type="submit" value="Back to Index"/>
    </form>

    <form action="/pokemon/<%=id%>/edit" method="GET">
        <button class="button" type = "submit">Edit</button>
    </form>

      <form action="/pokemon/<%=id%>?_method=DELETE" method="POST">
        <button class="button" type = "submit">Delete</button>
    </form>

</p>
</body>
</html>